*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  display: block;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Courier New";
  background-color: #088c81;
  color: #ffffff;
  
}

.header {
  display: inline-block;
  width: 100%;
  padding: 6px;
}

.header hr {
  color: white;
  size: 1;
}

.h1 {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin: 5px;
}
.content {
  display: inline-flex;
  padding: 6px;
}

.content__aside {
  display: flex;
  float: left;
  background-color: #4022b9;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.content__article {
  background-color: #21608e;
  display: flex;
  padding: 10px; 
}

.footer {
  display: inline-flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
  flex: 0 0 auto;
  width: 100%;
}